@inherits LayoutComponentBase

<div class="top-bar">
    <a class="logo" href="">
        <img src="img/portfolio/logo1.png" />
    </a>

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/portfolio/wood1.jpg" />
        <div>Get Wood!</div>
    </NavLink>

    <AuthorizeView>
        <NavLink href="myorders" class="nav-tab">
            <img src="img/bike.svg" />
            <div>My Orders</div>
        </NavLink>
    </AuthorizeView>

    <LoginDisplay />
</div>

<div class="content">
    @Body
</div>
